doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Air Quality Monitor -
            block title

        link(rel="stylesheet", href="assets/font/SourceSansPro.css")

        link(rel="stylesheet", href="assets/css/vendor/6.0.0-normalize.css")
        link(rel="stylesheet", href="assets/css/vendor/0.0.1-grid.css")

        link(rel="stylesheet", href="assets/css/application.css")

    body(ng-app="AirQualityMonitor")
        block main

        script(src="assets/js/vendor/1.6.4-angular.js")
        <!-- Our Angular Module -->
        script(src="assets/js/AirQualityMonitor.js")

        <!-- Specific Script(s) -->
        block script