extends _basicStructure

block title
    | &nbsp;Report

block main
    div.centeredView
        h1 Air Quality Monitor

    nav#mainNav
        ul.centeredView
            li
                a(href="/#").isActive Real-Time Data

    div.centeredView(ng-controller="ReportController")
        div#sensorData.grid.alignCenter
            div.col-xs-12.col-sm-6
                h2 Sensor Data &nbsp;
                    div(ng-class="isPaused ? 'noHeartBeatBecausePaused' : (heartBeat ? 'heartBeat' : 'noHeartBeat')")
            div.col-xs-12.col-sm-6.alignRight
                a(ng-click="isPaused = !isPaused", ng-show="isPaused").aBtn Resume
                a(ng-click="isPaused = !isPaused", ng-hide="isPaused").aBtn Pause

        div#downloadLatest(ng-hide="!heartBeat || !rollingFile")
            a(href="/api/rollingFile") Download the Latest Data

        div.sensorBuffer
            ul.aRecord.columnStructure
                li.aqiIndex
                    | AQI
                li.dn7c3ca007Pm2Dot5
                    | PM2.5
                li.dhtHumidity
                    | %
                li.dhtTemperature
                    | 째C
                li.gpsPositioning
                    | Lat, Long
                li.gpsDateTime
                    | Date

            ul(ng-repeat="aRecord in sensorBuffer").aRecord
                li.aqiIndex
                    span AQI
                    | -
                li.dn7c3ca007Pm2Dot5
                    span Particle Matter 2.5
                    | {{aRecord.dn7c3ca007ParticleMatter2Dot5}}
                li.dhtHumidity
                    span Humidity
                    | {{aRecord.dhtHumidity}} %
                li.dhtTemperature
                    span Temperature
                    | {{aRecord.dhtTemperature}} 째C
                li.gpsPositioning
                    span Global Positioning
                    | {{aRecord.gpggaLatitude}}째, {{aRecord.gpggaLongitude}}째
                li.gpsDateTime
                    span Time
                    | {{aRecord.gpggaTime}}

        footer
            p Air Quality Monitor

block script
    script(src="assets/js/report/ReportController.js")