extends _basicStructure

block title
    | &nbsp;Report

block main
    div.centeredView
        h1 Air Quality Monitor

    // nav#mainNav
        ul.centeredView
            li
                a(href="/#").isActive Real-Time Data

    div.centeredView(ng-controller="ReportController")
        div#sensorData.grid.alignCenter
            div.col-xs-12.col-sm-6
                h2 Real-Time Data &nbsp;
                    div(ng-class="isPaused ? 'noHeartBeatBecausePaused' : (heartBeat ? 'heartBeat' : 'noHeartBeat')")
            div.col-xs-12.col-sm-6.alignRight
                a(ng-click="isPaused = !isPaused", ng-show="isPaused").aBtn Resume
                a(ng-click="isPaused = !isPaused", ng-hide="isPaused").aBtn Pause

        div#downloadLatest(ng-hide="!heartBeat || !rollingFile")
            a(href="/api/rollingFile") Download the Latest Data

        div.sensorBuffer
            ul.aRecord.columnStructure
                li.airQuality
                    | Air Quality
                li.dhtHumidity
                    | %
                li.dhtTemperature
                    | °C
                li.gpsPositioning
                    | Lat, Long
                li.gpsDateTime
                    | Date
                li.createdAt
                    | Pi Time

            ul(ng-repeat="aRecord in sensorBuffer").aRecord
                li.airQuality
                    span Air Quality
                    | -
                li.dhtHumidity
                    span Humidity
                    | {{aRecord.dhtHumidity}} %
                li.dhtTemperature
                    span Temperature
                    | {{aRecord.dhtTemperature}} °C
                li.gpsPositioning
                    span Global Positioning
                    | {{aRecord.gpggaLatitudeLongitude}}
                li.gpsDateTime
                    span Date
                    | {{aRecord.gpggaGprmcTimeDate}}
                li.createdAt
                    span Pi Time
                    | {{aRecord._createdAt}}

        footer
            p Air Quality Monitor

block script
    script(src="assets/js/report/ReportController.js")